<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E00L9PT3V9");
    </script>
    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <table
      style="
        width: 100%;
        max-width: 800px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
      "
    >
      <tr style="padding: 0px">
        <td style="padding: 0px">
          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr style="padding: 0px">
              <td
                style="
                  padding: 2.5%;
                  vertical-align: middle;
                  text-align: right;
                  font-size: 18px;
                "
              >
                <a href="{{ "/" | prepend: site.baseurl }}" style="margin-right: 10px;">Homepage</a>
                <a href="{{ "/blog/" | prepend: site.baseurl }}" style="margin-right: 10px;">Blog</a>
                <a href="{{ "/misc/" | prepend: site.baseurl }}">Misc</a>
                <!-- <a href="/" style="margin-right: 10px;">Homepage</a>
                <a href="/blog/" style="margin-right: 10px;">Blog</a>
                <a href="/misc/">Misc</a> -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

<table
  style="
    width: 100%;
    max-width: 800px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    margin-right: auto;
    margin-left: auto;
  "
>
  <tr style="padding: 0px">
    <td style="padding: 0px">
      <table
        style="
          width: 100%;
          border: 0px;
          border-spacing: 0px;
          border-collapse: separate;
          margin-right: auto;
          margin-left: auto;
        "
      >
        <tr style="padding: 0px">
          <td style="padding: 2.5%; width: 60%; vertical-align: middle">
            <h1>Huangbo Zou</h1>
            <p>
              I am currently a <strong>senior</strong> student majoring in Surveying and Mapping
              Engineering at 
              <a href="https://en.tongji.edu.cn/p/#/">Tongji University</a>.
              I am actively engaged as a <strong>Visiting Student</strong> at
              <a href="https://www.westlake.edu.cn/">Westlake University</a>, 
              where I am conducting research under the supervision of Prof. 
              <a href="https://haibinling.github.io/">Haibin Ling</a>.
            </p>
            <p>
              My academic journey also includes an enriching period as an <strong>Exchange Student</strong>
              at <a href="https://www.polyu.edu.hk/">The Hong Kong Polytechnic University (PolyU)</a>.
            </p>

            <p style="text-align: center">
              <a target="_blank" href="https://mailhide.io/e/4yeQ3xdg">
                Email</a
              >
              &nbsp;/&nbsp;
              <a href="https://github.com/JackBo04">GitHub</a> &nbsp;/&nbsp;
            </p>

            </td>
          
          <td style="padding: 2.5%; width: 40%; max-width: 40%">
            <img
              style="width: 100%; max-width: 100%"
              alt="profile photo"
              src="images/zhbsnow.jpg"
            />
          </td>
        </tr>
      </table>
        <table
          style="
            width: 100%;
            max-width: 800px; /* 保持与主内容区宽度一致 */
            border: 0px;
            border-spacing: 0px;
            border-collapse: separate;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px; /* 增加一点上边距 */
          "
        >
          <tr>
            <td style="padding: 2.5%; width: 100%; text-align: center;">
              <img
                style="width: 100%; max-width: 600px; height: auto;"
                alt="all_road_map"
                src="images/all_road.png"
              />
            </td>
          </tr>
        </table>

          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr>
              <td style="padding: 2.5%; width: 100%; vertical-align: middle">
                <h2>Research</h2>
                <p>
                  My research interests lie in computer vision, Spatial AI, 3D Vision, and AI for science, particularly in cryo-EM reconstruction, scene reconstruction, and Robotic Perception. 
                 If you find my work interesting and would like to chat or want to work with me, feel free to
                  <a href="mailto:huangbozou@gmail.com">email</a> me!
                </p>
              </td>
            </tr>
          </table>
          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr>
              <td style="padding: 2.5%; width: 100%; vertical-align: middle">
                <h2>Misc</h2>
                <p>
                 In my spare time,  I enjoy creative activities such as photography and making short films, and I love the outdoors, especially hiking. I am dedicated to running, specializing in middle and long distances. I also do some strength training sessions at the gym. 
                </p>
                <p>
                 If you're interested in my creative work, you can check out some of my photography by clicking the <a href="{{ "/misc/" | prepend: site.baseurl }}">Misc</a> link in the navigation bar above.
                </p>
              </td>
            </tr>
          </table>
       
          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr>
              <td style="padding: 0px">
                <br />
                <p style="text-align: center; font-size: small">
                  Last updated: October, 2025. Thanks for the
                  <a style="font-size: small" href="https://jonbarron.info"
                    >template</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
